CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wshadow
    - -Wconversion
    - -I./kernel
    - -I./engine
    - -I./
  Compiler: clang++

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - performance-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
    CheckOptions:
      readability-identifier-naming.ClassCase: CamelCase

Index:
  Background: Build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true